<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="GUIFORM.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <GUIFORM.Properties.Settings>
            <setting name="username" serializeAs="String">
                <value>Empty</value>
            </setting>
            <setting name="age" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="medical" serializeAs="String">
                <value>Empty</value>
            </setting>
            <setting name="gender" serializeAs="String">
                <value>Empty</value>
            </setting>
            <setting name="hour" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="imageloc" serializeAs="String">
                <value />
            </setting>
            <setting name="HR" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="dates" serializeAs="String">
                <value>1</value>
            </setting>
        </GUIFORM.Properties.Settings>
    </userSettings>
</configuration>